/*NAVBAR*/
* {
    font-family: 'Nunito', sans-serif;
}
html {
    scroll-behavior: smooth;

}
.navbar {
    display: flex;
    height: 60px;
    box-shadow: 0 6px 12px #0016;
    z-index: 10;
    padding: 0px 15%
}
.navbar-logo {
    display: flex;
    width: 20%;

}
.navbar-options {
    display:flex;
    align-items: center;
    justify-content: right;
    width: 80%;

}
.navbar-options a {
    margin: 10px;
    text-decoration: none;
    font-size: 20px;
}
/*HOME*/
.home {
    display: flex;
}
.home img {
    width: 100%;
    z-index: -1
}
.home-slogan {
    position: absolute;
    font-size: 50px;
    padding: 4% 15%;
    color: #035397;
    font-weight: 800;
    width: 100%;
}
.home-btn button {
    font-size: 18px;
    background: #1C427B;
    padding: 10px 30px;
    cursor: pointer;
    border-radius: 10px;
    border-style: none;
}

.home-btn button a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/*NOSOTROS*/
.about-us {
    display: flex;
    height: 55%;
    justify-content: center;
    align-items: center;
}
.about-us image {
    margin: 10px auto;
    padding: 20px;
}
.about-us-description {
    width: 45%;
    text-align: center;
}
.about-us-description h2 {
    text-align: center;
    font-size: 55px;
    color: #035397;
    font-weight: 700;
    margin-bottom: 15px;
}
/*RANDR*/
.RandR {
    background: #1C427B;
    padding: 20px;
}
.RandR-title {
    color: #fff;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    background: #fff;
    border-radius: 10px;
    margin: 25px;
    padding: 45px;
}
.card ul {
    margin-left: 35px;
    width: 240px;
}
.card-header {
    display: flex;
    flex-direction: column;
}
.card-title {
    color: #1C58AE;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 35px 0;
}
.card-subtitle {
    color: #437ED3;
}
.card-btn {
    display: block;
    text-align: center;
    margin-top: 40px;
}
.card-btn button {
    color: #437ED3;
    border-radius: 10px;
    border: 2px solid #437ED3;
    padding: 10px 20px;
    background: #fff;
    cursor: pointer;
}

.card-btn button a {
    text-decoration: none;
    color: #437ED3;
    font-weight: bold;
}

.RecetasR{
    background: #FFFFFF;
}

.RecetasCard{
    background: #FF8A01;
}

#Recetas{
    color: #1C58AE;
}

/*RANDP*/
.RandP {
    background: #ffffff;
    padding: 20px;
}
.RandP-title {
    color: #1C58AE;
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}
.cardsP {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cardP {
    background: #FF8A01;
    border-radius: 10px;
    margin: 25px;
    padding: 45px;
}
.cardP ul {
    margin-left: 35px;
    width: 240px;
}
.cardP-header {
    color: #ffffff;
    display: flex;
    flex-direction: column;
}
.cardP-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    margin: 0 0 35px 0;
}
.cardP-subtitle {
    color: #ffffff;
}
.cardP-btn {
    display: block;
    text-align: center;
    margin-top: 40px;
}
.cardP-btn a{
    color: #437ED3;
    border-radius: 10px;
    border: 2px solid #437ED3;
    padding: 10px 20px;
    background: #fff;
    cursor: pointer;
    text-decoration: none;
}

/*Footer*/
.footer {
    display: flex;
    background: #1C427B;
    flex-direction: row;
    color: #fff;
    justify-content: center;
    padding: 30px;
}
.footer-part-about {
    width: 300px;
}
.footer-part {
    text-align: left;
    margin: 0 65px;
}
.footer-part div a {
    color: #fff;
    display: block;
    text-decoration: none;
}
.trickfit {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 50px;
    margin: 30px;
}

/*About the team*/
.visualizer_vid {
    width:360px;
    height:250px;
    object-fit: cover;
    border-radius: 30px;
}

/*Responsive*/
/*Small desktop*/
@media only screen and (max-width: 800px) {
    .home-slogan{
        text-align: center;
        font-size: 20px;
    }

    .home-btn button {
        font-size: 15px;
    }

    .about-us{
        flex-direction: column;
    }

    .trickfit{
        font-size: 40px;
    }

    .about-us img {
        max-width: 80%;
    }

    .about-us-description {
        width: 80%;
        margin-bottom: 60px;
    }


    .visualizer_vid {
        width: 445px;
    }
}

/*Mobile*/
@media only screen and (max-width: 535px) {
    .card, .cardP {
        padding: 18px;
    }

    .footer{
        visibility: hidden;
        width: 10px;
        display: none;
    }

    .navbar-options{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .navbar-options a{
        margin: 5px ;
    }

    .visualizer_vid {
        width: 335px;
    }
}

